<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @jam.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @jam.user %>
</p>

<%= link_to 'Edit', edit_jam_path(@jam) %> |
<%= link_to 'Back', jams_path %>
